@import "bootstrap/scss/functions";
$primary:   #2a3147;
// @import "vender/_bootstrap-var";
@import "bootstrap/scss/bootstrap";
@import "_utile";

@mixin _bg{
    padding: 2rem;
    background-color: $secondary;
    border-radius: 1rem;
}

.article{
    @include _bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
}

.articlePage{
    @include _bg
}

.login{
    @include _bg;
    border: 1px solid $primary;
}

.date{
    display: block;
    color: #999;
}

.sideBar{
    @include _bg;
    height:  calc( 100% - 16px);
}
img{
    width: 100%;
}

*{
    // outline: 1px solid red;
}

$red: rgb(199, 104, 104);
.primary-color{
    color: rgb(133, 86, 180)
}